AWSIoT*
bin
boto*
click
Click*
dateutil
docutils*
flask/*
Flask-*
*-info
werk*
wt*
urllib3
schedule
s3transfer
numpy
markupsafe
jmespath
jinja2
itsdangerous
flask_*
*.key
*.crt
*.pem
six.py
*cache*
.idea
*.DS_Store
